# Omikuji

Omikuji is a form of fortune-telling that has been popular at Japanese shrines and temples. With the increase in the number of foreign visitors to Japan, omikuji written in English have also become widely available.
Its mechanism can be reproduced and enjoyed with a python code!

In [16]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv("tourist arrivals.csv")
df

   Month/Year the number of tourists arrivals
0      1/2023                       1,308,606
1      2/2023                       1,297,458
2      3/2023                       1,582,518
3      4/2023                       1,738,172
4      5/2023                       1,656,118
5      6/2023                       1,882,296
6      7/2023                       2,108,438
7      8/2023                       1,897,129
8      9/2023                       1,905,162
9     10/2023                       2,245,892
10    11/2023                       2,206,883
11    12/2023                       2,551,290
12     1/2024                       2,386,640

In [18]:
x=df["Month/Year"]
y=df["the number of tourists arrivals"]

In [21]:
df_sorted = df.sort_values(by='the number of tourists arrivals', ascending=False)

In [27]:
x = df['Month/Year']
y = df_sorted['the number of tourists arrivals']

In [ ]:
plt.plot(x,y,marker="o", linestyle='-')
plt.title ("tourist arrivals in Japan")
plt.xlabel("Month/Year")
plt.ylabel("the number of tourists arrivals")
plt.show()

Try omikuji

In [9]:
import tkinter as tk
import random

def disLabel():
    omikuji=['Daikichi','Kichi','Chukichi','Syokichi','Suekichi','Kyo']
    lbl.configure(font=("", 50),bg='#ffffff', text=random.choice(omikuji))
    lbl.place(x=90, y=130)
    
root=tk.Tk()
root.geometry("500x500")
root.title("Omikuji")
root.resizable(False,False)

canvas=tk.Canvas(root, height=500,width=500)
canvas.place(x=0,y=0)

btn=tk.Button(root, text="Finish", width=6, height=2, command=lambda:root.destroy())
btn.place(x = 200, y = 450)

lbl = tk.Label(text="Omikuji", width=10, height=3)
btn = tk.Button(root, text="Push", width=10, height=3,command=disLabel)
btn.place(x = 150, y = 300)

lbl.pack() 
btn.pack()
root.mainloop()

The meaning of omikuji

In [15]:
import pandas as pd 

listA=['Daikichi','Kichi','Chukichi','Syokichi','Suekichi','Kyo']
listB=['Awesome','Good','Normal','Not bad','Bad','Too Bad']


df=pd.DataFrame(listA)
df[1]=listB

df.columns=['Omikuji','Meaning']

print(df)

    Omikuji  Meaning
0  Daikichi  Awesome
1     Kichi     Good
2  Chukichi   Normal
3  Syokichi  Not bad
4  Suekichi      Bad
5       Kyo  Too Bad